<!DOCTYPE html>
<html lang="fr" ng-app="uaApp">
<head>
	<meta charset="utf-8">

	<title>BuckUTT - Wall-e</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="UNG - UTT Net Group">

	<!-- Style -->
	<link href="<%= asset('style/lib/bootstrap/css/bootstrap.min.css') %>" rel="stylesheet">
    <link href="<%= asset('style/lib/select2/select2.css') %>" rel="stylesheet">
	<link href="<%= asset('style/hook/bootstrap.css') %>" rel="stylesheet" media="screen">
	<link href="<%= asset('style/hook/offline.css') %>" rel="stylesheet" media="screen">
	<link href="<%= asset('style/css/global.css') %>" rel="stylesheet" media="screen">

	<!-- Libraries -->
	<script src="<%= asset('socket.io/socket.io.js') %>"></script>
	<script src="<%= asset('js/lib/offline/offline.min.js') %>"></script>
	<script src="<%= asset('js/lib/moment/moment.min.js') %>"></script>
	<script src="<%= asset('js/lib/jquery/jquery-1.10.2.min.js') %>"></script>
	<script src="<%= asset('js/lib/underscore/underscore.min.js') %>"></script>
	<script src="<%= asset('js/lib/select2/select2.min.js') %>"></script>
	<script src="<%= asset('js/lib/angular/angular.min.js') %>"></script>
	<script src="<%= asset('js/lib/angular/angular-route.min.js') %>"></script>
    <script src="<%= asset('js/lib/angular/angular-resource.min.js') %>"></script>
	<script src="<%= asset('js/lib/ui-bootstrap/ui-bootstrap.min.js') %>"></script>

	<!-- Global -->
	<script src="<%= asset('js/common.js') %>"></script>

	<!-- Arena -->
	<script src="<%= asset('js/app.js') %>"></script>
	<script src="<%= asset('js/config/directives.js') %>"></script>
	<script src="<%= asset('js/config/filters.js') %>"></script>
	<script src="<%= asset('js/config/services.js') %>"></script>
    <script src="<%= asset('js/controllers/main.js') %>"></script>
</head>
<body>

</body>
</html>
